{{extend 'layout.html'}}


 <div class="fill center" style="height:500px;">
     <br>
<a class="btn rounded red" href={{=URL('default', 'others')}}>Browse Codoro Members <i class="fa fa-eye fa-lg"></i></a>
     {{if profile is None:}}
       <h1>Welcome to Codoro</h1>
        <h2>You don't have a profile! Why don't you create one?</h2>
        <h6>1. Navigate to the "Browse Codoro Members" button.</h6>
            <h6>2. Click the Add Record button on the next page. (located on the upper left hand side)</h6>
{{else:}}
     <h3>{{=profile.first_name + " " + profile.last_name}}'s Profile</h3>
     <h5>{{=profile.skills}}</h5>
     <h5>{{=profile.available_times}}</h5>
     <h5>{{=profile.user_email}}</h5>
     <img style="max-height: 350px; max-width: 350px;"src = {{=URL('default', 'download', args=[profile.image])}}>


<div class="fill center" style="height:240px;background: image(powderblue);background-position:center center;padding-top:5px">
</div>
{{pass}}
        {{pass}}


 </div>















