{{extend 'layout.html'}}

<div class="right">
    <a href="{{=URL('default', 'others')}}" class="btn btn-info left"> Go Back</a>
</div>

<br>
<div class="fill center">
    {{if profile:}}
    <center><h3>{{=profile.first_name + " " + profile.last_name}}</h3></center>
    <center><img style="max-height: 350px; max-width: 350px;"src = {{=URL('default', 'download', args=[profile.image])}}></center>

    {{if table is not None:}}
        <center><h5>Skill(s): {{=profile.skills}}</h5></center>
        <center><h5>Availability: {{=profile.available_times}}</h5></center>
        <center><h6>E-mail: {{=profile.user_email}}</h6></center>
    {{else:}}
        <h5>Uh-oh! This person doesn't have a profile yet. :/</h5>
    {{pass}}
    {{pass}}
</div>